@page "/"
<div class="card1 ">
    <div class="card-body">
        <h1>Interested?</h1>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h1>Contact ME</h1>
    </div>
</div>
<div class="d-flex ">
    <a class="glassIco" href="https://github.com/stfeleti"><i class="fab fa-github"></i></a>
    <a class="glassIco" href="https://www.linkedin.com/in/promise-feliti-64124b198/"><i class="fab fa-linkedin-in"></i></a>
    <a class="glassIco" href="https://wa.me/0632802801?text=I%20am%20interested%20in%20your%work"><i class="fab fa-whatsapp"></i></a>
</div>

<style>
.card1 {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translateX(-50%) rotate(3deg);
    }
    .card {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 7px );
        -webkit-backdrop-filter: blur( 7px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        color: white;
        font-weight: 900;
        text-align: center;
        position: absolute;
        top: 53%;
        right: 40%;
        transform: translateX(100%) rotate(-3deg);
        }
</style>